<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/img/favicon.png">
  <title>Coign Analytics Portal For Training And Administration</title>
  <!-- Fonts and icons -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="/css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />
</head>
<body class="g-sidenav-show bg-gray-100">
  <div class="min-height-300 bg-primary position-absolute w-100"></div>
  <%- include('../includes/sidebar.ejs'); %>
  <main class="main-content position-relative border-radius-lg">
    <!-- Navbar -->
    <%- include('../includes/navbar.ejs'); %>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <p class="text-uppercase text-sm">List of Sessions</p>
              <%if(typeof message !='undefined'){%>
                <div class="alert alert-custom" role="alert">
                  <span><%= message %></span>
                </div>
                <%}%>
              <table class="table">
                <thead>
                  <tr>
                    <th>Session Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Location</th>
                    <th>Trainer</th>
                    <th>Actions</th> <!-- New column for action buttons -->
                  </tr>
                </thead>
                <tbody>
                  <% sessions.forEach(session => { %>
                    <tr>
                      <td><%= session.session_name %></td>
                      <td><%= session.session_date %></td>
                      <td><%= session.session_time %></td>
                      <td><%= session.session_location %></td>
                      <td><%= session.session_trainer %></td>
                      <td>
                        <a href="/edit-session/<%= session._id %>" class="btn btn-primary btn-sm action-button">Edit</a>
                        <a href="#" class="btn btn-danger btn-sm action-button delete-button" data-session-id="<%= session._id %>">Delete</a>
                    </td>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include('../includes/footer'); %>
  </main>
  <!-- Core JS Files -->
  <script src="/js/core/popper.min.js"></script>
  <script src="/js/core/bootstrap.min.js"></script>
  <script src="/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="/js/plugins/chartjs.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }

    const deleteButtons = document.querySelectorAll('.delete-button');

deleteButtons.forEach(button => {
  button.addEventListener('click', event => {
    event.preventDefault(); 
    const sessionId = button.getAttribute('data-session-id');
    if (sessionId) {
      fetch(`/delete-session/${sessionId}`, {
        method: 'DELETE',
      })
        .then(response => response.json())
        .then(data => {
          location.reload();
        })
        .catch(error => {
          console.error(error);
        });
    }
  });
});
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/js/argon-dashboard.min.js?v=2.0.4"></script>
</body>
</html>
